<h1>Planet CDOT (Telescope)</h1>

{{#each days}}
  <div class="daygroup">
    <h2>{{@key}}</h2>

      {{#each .}}
        <div class="channelgroup">
          <br clear="both">
          <h3 class="planetauthor"><a href="{{post.site}}" title="Stories by {{post.feed.author}}">{{@key}}</a></h3>

          {{#each this as | post |}}
            <div class="entrygroup" id="{{post.guid}}">
              <h4><a href="{{post.url}}">{{post.title}}</a></h4>
              <div class="entry">
                <div class="content">
                  {{{post.html}}}
                </div>
                <p class="date">
                  <a href="{{post.url}}">by {{post.feed.author}} at {{post.updated}}</a>
                </p>
              </div>
            </div>
          {{/each}}
        </div>
      {{/each}}
   </div>
{{/each}}

<div class="sidebar">
<img src="/legacy/planet-cdot-logo.png" alt="" width="136" height="136">

<p>Planet CDOT is a collection of current blog posts by students, professors, and researchers at the <a href="http://zenit.senecac.on.ca/wiki/">Seneca Centre for Development of Open Technology</a> and related organizations around the world.
<br><br>
You can read Planet CDOT here, or follow <a href="http://twitter.com/PlanetCDOT/">@PlanetCDOT</a> on Twitter, or subscribe to our feed:<br>
</p><ul>
<li><a href="http://zenit.senecac.on.ca/~chris.tyler/planet/atom.xml"><img src="/legacy/feed-icon-10x10.png" alt="planet feed (atom)" border="0">Planet Feed (Atom)</a></li>
<li><a href="http://zenit.senecac.on.ca/~chris.tyler/planet/rss20.xml"><img src="/legacy/feed-icon-10x10.png" alt="planet feed (rss2.0)" border="0">Planet Feed (RSS2.0)</a></li>
</ul>

<p></p>
<p>
</p><h2>Participants</h2>
<ul>
  <!--
    TODO: it should look like this.  We don't have all the info yet to do it
  <li>
  <a href="http://aeraj.blogspot.com/feeds/posts/default/-/open%20source" title="subscribe"><img src="/legacy/feed-icon-10x10.png" alt="(feed)"></a> <a href="http://aeraj.blogspot.com/search/label/open%20source" title="AJ's blog">AJ Rehman</a>
  </li>
  -->
  {{#each feeds}}
    <li>
      <a href="{{url}}" title="subscribe"><img src="/legacy/feed-icon-10x10.png" alt="(feed)"></a> <a href="{{url}}" title="TODO">{{author}}</a>
    </li>
  {{/each}}
</ul>
<p></p>

</div>
